.footer_btn{
  position: fixed;
  bottom: 10px;
  left: 12px;
  right: 12px;
}

.summary_content{
  height:193px;
  width: 95%;
  margin: 15px auto auto;
  border-radius:3px;
  border:1px solid rgba(236,236,236,1);
}

.category_item{
  height:44px;
  background:rgba(255,255,255,1);
  border-bottom: solid 1px rgba(219,219,219,0.5);


  font-size:14px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(245,122,43,1);
  line-height:44px;
  padding-left: 12px;
  box-sizing: border-box;
}

