.header{
  width:100%;
  height:135px;
  background:rgba(255,134,56,1);


  display: flex;
  flex-direction: column;
  align-items: center;
}

.money_icon{
  margin-top: 12px;
  width:58px;
  height:58px;
  background:rgba(255,255,255,1);
  border-radius: 50%;
}


.remain_amount{
  width:28px;
  height:20px;
  font-size:14px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(255,255,255,1);
  line-height:20px;
}

.amount{
  width:63px;
  height:24px;
  font-size:17px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:24px;
}


.footer_btn{
  width: 60%;
  margin: auto;
  margin-top: 84px;
}
