.head_portrait{
  width:92%;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 4%;
  font-size: 17px;
  color:#000;
}


.head_portrait_title{
  font-size: 17px;
  line-height: 1.5;
}

.head_portrait>span{
  display: flex;
  align-items: center;
}
.head_portrait>span>.icon_name{
  width:49px;
  height:49px;
  background: #fff;
  border-radius: 2px;
  /*margin-right:22px;*/
}
.icon_name_left{
  width:15px;
  height:15px;
}

.file{
  opacity: 0;
  position: absolute;
  right: 0;
  width: 300px;
  height: 100px;
}

.search_wrapper{
  position: absolute;
  top: 42px;
  width: 100%;
  height: 74px;
  background-color: #FFFFFF;
  padding-top: 20px;
  box-sizing: border-box;
  /*left: 5%;*/
}

.center_wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f06322;
}

.container{
  width: 100%;
  height: 100%;
}

.map_wrapper{
  width: 100%;
  height: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.address_wrapper{
  margin-top: 80px;
  width: 100%;
  background-color:#FFFFFF;
  overflow-y:scroll;
}


.address{
  height: 60px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  justify-content: center;
  padding-left: 10px;
  box-sizing: border-box;
}

.addr_title{
  font-size: 16px;
  font-weight: bold;
  color: #333333;

  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.addr_sub_title{
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  margin-top: 5px;
}

.footer_wrapper{
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  /*height: 86px;*/
  /*background-color: #999999;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: flex-end;*/
}

:global(.my-radio .am-radio ){
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 5px;
}

.protocol_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 54px;
}

.protocol{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
}

.footer_text_dec{
  height:20px;
  font-size:14px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(255,134,56,1);
  line-height:20px;
}

.footer_text_pre{
  height:20px;
  font-size:14px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:20px;
}

.btn_confirm{
  width:95%;
  height:44px;
  background:rgba(255,134,56,1);
  border-radius:3px;
  margin-left: 2.5%;
  text-align: center;
}

.btn_confirm_text{
  width: 100%;
  height:44px;
  font-size:14px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height: 44px;
  color: #FFFFFF;
}

:global(.spe ){
  width: 60px;
  height: 60px;
}


:global(.result-example){
  height: 100%;
  position: absolute;
  top: 25%;
}

:global(.sub-title) {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
  margin-left: 15px;
}


.am-textarea-control>textarea{
  color: #999999;
  width: 668px;
  height:200px;
  background-color: #f3f3f3;
  font-size: 30px;
}
.am-textarea-control{
  color: #999999;
  width: 668px;
  height:200px;
  background-color: #f3f3f3;
  font-size: 30px;
}

.footer_btn{
  position: fixed;
  bottom: 10px;
  left: 12px;
  right: 12px;
}
